@{
    ViewData["Title"] = "Flyer Instagram Style";
}
<div class="container-fluid p-0">
    <div class="row g-0 justify-content-center">
        <div class="col-12">
            <div class="instagram-story-container">
                <div class="instagram-story-content">
                    <img src="img/flayer.jpg" class="instagram-story-image" alt="Flyer Instagram Style">
                </div>
            </div>
        </div>
    </div>
</div>