@model suitMvc.Models.Invitados

@{
    ViewData["Title"] = "Beneficios";
}

<h1 class="text-center my-4">Beneficios</h1>
<h4 class="text-center">Invitados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Beneficios" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="invitado_id" />

            <div class="form-group">
                <label asp-for="entrada_free" class="control-label"></label>
                <input asp-for="entrada_free" class="form-control" />
                <span asp-validation-for="entrada_free" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="consumiciones" class="control-label"></label>
                <input asp-for="consumiciones" class="form-control" />
                <span asp-validation-for="consumiciones" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}