@model suitMvc.Models.Invitados

@{
    ViewData["Title"] = "Crear";
}

<h1 class="text-center my-4">Crear</h1>

<h4 class="text-center">Invitados</h4>
<div class="text-center mb-4">
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Crear" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.Identity.IsAuthenticated)
            {
                var isAdmin = User.Claims.Where(c => c.Type == "admin").Select(c => c.Value).SingleOrDefault() == "1";

                <div class="form-group mb-3">
                    <label asp-for="nombre" class="control-label">Nombre</label>
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="apellido" class="control-label">Apellido</label>
                    <input asp-for="apellido" class="form-control" />
                    <span asp-validation-for="apellido" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="acompanantes" class="control-label">Acompañantes</label>
                    <input asp-for="acompanantes" class="form-control" />
                    <span asp-validation-for="acompanantes" class="text-danger"></span>
                </div>
                @if (isAdmin)
                {
                    <div class="form-group mb-3">
                        <label asp-for="entrada_free" class="control-label">Free</label>
                        <input asp-for="entrada_free" class="form-control" />
                        <span asp-validation-for="entrada_free" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="consumiciones" class="control-label">Consumiciones</label>
                        <input asp-for="consumiciones" class="form-control" />
                        <span asp-validation-for="consumiciones" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
